@tailwind base;

@font-face {
  font-family: 'Cyriele';
  src: url('./fonts/Cyriele-Regular.woff2') format('woff2'),
    url('./fonts/Cyriele-Regular.woff') format('woff');
  /* Add more src lines for additional font formats */
  /* Optionally specify font-weight and font-style here */
}

@font-face {
  font-family: 'rousseau_decobold';
  src: url('./fonts/rousseaudeco-webfont.woff2') format('woff2'),
    url('./fonts/rousseaudeco-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@tailwind components;
@tailwind utilities;




.gallery-image {
  transition: opacity 1s ease-in-out;
}

.prev-btn,
.next-btn {
  font-family: 'Cyriele';
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  z-index: 1000;
  transform: translateY(-50%);
  padding: 10px;
  cursor: pointer;
  transition: border 0.3s ease-in-out;
  
}

.prev-btn:hover,
.next-btn:hover {
  
  border-bottom: 4px;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.z-max{
  z-index: 100000000;
}