@tailwind base;

@font-face {
  font-family: 'Cyriele';
  src: url('../fonts/Cyriele-Regular.woff2') format('woff2'),
    url('../fonts/Cyriele-Regular.woff') format('woff');
  /* Add more src lines for additional font formats */
  /* Optionally specify font-weight and font-style here */
}

@font-face {
  font-family: 'rousseau_decobold';
  src: url('../fonts/rousseaudeco-webfont.woff2') format('woff2'),
    url('../fonts/rousseaudeco-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@tailwind components;
@tailwind utilities;
